<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" routerLink="/home" >Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item" *ngIf="!userName">
        <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
    <li class="nav-item" *ngIf="userName">
            <a class="nav-link" (click)="Logout()">LogOut</a>
        </li>
        <li *ngIf="userName" class="nav-item">
            <a class="nav-link">Hello, {{userName}}</a>
        </li>
</ul>